@use "../utils/variables"as *;

.add-to-cart {
    padding-bottom: 20px;
    flex: 100%;

    @media(min-width: $lg) {
        width: 100%;
        margin-top: 40px;
    }

    .add-product {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(min-width: $sm) {
            flex-direction: row;
        }

        

        .add {
            background-color: $lightGrayishBlue;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            flex: 0 1 37%;
            width: 100%;
            cursor: pointer;

            @media (min-width: $sm) {
                margin-right: 15px;
            }

            h4 {
                margin: 0;
            }

            .remove-item,
            .add-item {
                padding: 20px;
            }
        }
    }
}



