@keyframes slideInLeft {
    0% {
      width: 0%;
      // transform: scale(.3);
      left: -100%;
      opacity: 0;
    }
    
    100% {
      width: 70%;
      // transform:scale(1);
      opacity: 1;
      left: 0;
    }
  }

  @keyframes slideInRight {
    0% {
      width: 0%;
      // transform: scale(.3);
      right: -100%;
      opacity: 0;
    }
    
    100% {
      width: 30%;
      // transform:scale(1);
      opacity: 1;
      right: 0;
    }
  }