@use "../utils/variables"as *;

header {

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;

        @media(min-width: $lg) {
            border-bottom: 1px solid $grayishBlue;
        }

        nav,
        .account {
            display: flex;
            align-items: center;
        }

        nav {
            
            
            .burger {
                margin-right: 30px;
                padding-top: 4px;
                position: relative;
                

                .line-1,
                .line-2,
                .line-3 {
                    position: absolute;
                    width: 15px;
                    height: 3px;
                    background-color: $darkGrayishBlue;
                    transition: all .5s ease;
                    top: 2px;
                    z-index: 300;
                }

                .line-2 {
                    transform: translateY(-6px);
                }

                .line-3 {
                    transform: translateY(6px);
                }

                @media(min-width: $lg) {
                    display: none;
                }

                .line-1.show {
                    transform: rotate(40deg);
                  }
                  .line-3.show {
                    transform: rotate(-40deg);
                  }
                  .line-2.show {
                    opacity: 0;
                  }
            }

            .mobile {
                height: 100%;
                background-color: $white;
                z-index: 200;
                top: 0;
                left: -100%;
                width: 0;
                right: 30%;
                bottom: 0;
                position: fixed;
                padding-top: 60px;
                

                &.show {
                    animation: slideInLeft 1s ease;
                    left: 0;
                    width: 70%;
                }

                li {
                    padding: 10px 20px;
                }

                .nav-link {
                    color: $black;
                    font-weight: 700;

                    &:hover {
                        color: $orange;
                    }
                }
            }

            .menu-bg {
                background-color: rgba($color: $black, $alpha: 0.75);
                height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                right: -100%;
                width: 0;
                position: fixed;
                z-index: 200;

                &.show {
                    animation: slideInRight 1s ease;
                    right: 0;
                    width: 30%;
                }
            }

            .desktop {
                display: none;

                @media(min-width: $lg) {
                    display: block;
                }

                ul {
                    display: flex;
                    align-items: center;

                    &:first-child {
                        margin-left: 40px;
                    }

                    .nav-link {
                        padding: 0 18px;
                        color: $darkGrayishBlue;
                        position: relative;

                        &::after {
                            position: absolute;
                            content: "";
                            width: 0;
                            height: 4px;
                            background-color: $orange;
                            left: 20%;
                            top: 60px;
                            transition: 0.5s;
                        }

                        &:hover {
                            color: $black;

                            &::after {
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }

        .account {
            cursor: pointer;
            
            .cart-icon {
                margin-right: 20px;

                @media(min-width: $lg) {
                    margin-right: 45px;
                }
            }
    
            .avatar {
                max-width: 25px;
                position: relative;

                @media(min-width: $lg) {
                    max-width: 50px;
                }

                &:hover::after {
                    content: "";
                    border: 3px solid $orange;
                    display: block;
                    position: absolute;
                    width: 100%;
                    border-radius: 50%;
                    height: 100%;
                    bottom: 0;
                }
            }
        }
    }
}