@use "../utils/variables"as *;

header {
    padding: 20px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;

        @media(min-width: $lg) {
            border-bottom: 1px solid $grayishBlue;
        }

        .navigation,
        .account {
            display: flex;
            align-items: center;
        }

        .navigation {
            
            
            .burger {
                margin-right: 20px;
                padding-top: 4px;

                @media(min-width: $lg) {
                    display: none;
                }
            }

            .mobile {
                display: none;
                height: 100%;
                background-color: $white;
                z-index: 100;
                top: 0;
                left: 0;
                right: 30%;
                bottom: 0;
                position: fixed;

                &.show {
                    display: block;
                }

                .close {
                    padding: 30px 0 60px 30px;
                }

                li {
                    padding: 10px 30px;
                }

                .nav-link {
                    color: $black;

                    &:hover {
                        color: $orange;
                    }
                }
            }

            .menu-bg {
                display: none;
                background-color: rgba($color: $black, $alpha: 0.75);
                height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 70%;
                position: fixed;
                z-index: 100;

                &.show {
                    display: block;
                }
            }

            .desktop {
                display: none;

                @media(min-width: $lg) {
                    display: block;
                }

                ul {
                    display: flex;
                    align-items: center;

                    &:first-child {
                        margin-left: 50px;
                    }

                    .nav-link {
                        padding: 0 20px;
                        color: $darkGrayishBlue;

                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
        }

        .account {
        
            .cart-icon {
                margin-right: 20px;
            }
    
            .avatar {
                max-width: 25px;
            }
        }
    }
}