@use "../utils/variables"as *;

.thumbnail-images,
.modal-thumbnail-images {
    cursor: pointer;
    
    .single-image {
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        img {
            max-width: 90px;
            transition: transform .5s ease;

            &:hover {
                transform: scale(1.1);
                opacity: 0.6;  
            }
        }

        &.active::after {
            content: "";
            position: absolute;
            display: block;
            width: 90px;
            height: 90px;
            border: 3px solid $orange;
            border-radius: 10px;
            background-color: rgba($pale, 0.5);
        }
    }
}

.thumbnail-images {
    display: none;
    margin-top: 45px;


    @media(min-width: $lg) {
        display: flex;
        justify-content: space-between;

        .single-image {
            &.active::after {
                bottom: 0;
            }
        }
       
    }
}

.modal-thumbnail-images {
    .single-image {
    
        &.active::after {
            bottom: 50px;
            left: 10px;
        }

        img {
            &:hover {
                transform: scale(1);
            }
        }

        
        
    }
    
}