//COLOURS

$orange: hsl(26, 100%, 55%);
$pale: hsl(25, 100%, 94%);

$veryVarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%); //  (with 75% opacity for lightbox background)

//FONTS

//BREAKPOINTS
$sm: 640px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$hd: 1800px;
$uw: 2200px;