// typography rules and typography helper classes
// typography rules and typography helper classes
@use "../utils/variables" as *;

body {
    font-family: 'Kumbh Sans', sans-serif;
    
    h1,
    h2,
    h3,
    h4 {
        font-weight: 700;
        
    }

    h1 {
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 1.15px;
        
        @media (min-width: $md) {
            font-size: 30px;
        }

        @media (min-width: $lg) {
            font-size: 40px;
            line-height: 46px;
            margin: 20px 0 50px 0;
            
        }
    }

    h2 {
        font-size: 28px;
        line-height: 32px;
        margin: 12px 0 18px 0;
        
        @media(min-width: $lg) {
            font-size: 28px;
            line-height: 39px;
            margin: 5px 0;
            letter-spacing: 1.3px;
        }
    }

    h3 {
        font-size: 22px;
        line-height: 16px;
    }

    h4 {
        font-size: 16px;
        
    }

    h5 {
        font-size: 13px;
        color: $orange;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 10px;

        @media(min-width: $lg) {
            margin-top: 10px;
            margin-bottom: 15px;
        }
    }

    p {    
        color: $darkGrayishBlue;
        line-height: 25px;
        font-size: 15px;

        @media (min-width: $md) {
            font-size: 16px;
        }
    }


    a {
        cursor: pointer;
        text-decoration: none;   
    }

    
    ul {
        font-size: 14px;
    }

}